<div class="comments_item">
    <div>
        <p class="comment_name"><%= comment.user.username %></p>
        <p class="comment_text"><%= comment.body %></p>
    </div>
    <div class="comments_action-btns">
        <% if(comment.user == current_user || comment.user.admin)%>
        <p class="comment_edit_btn">

            <%= link_to(edit_discussion_comment_path(@discussion, comment)) do %>
                <%= inline_svg_tag "pencil.svg", class: "comments_edit_svg" %>
            <%end%>
        </p>
        <p class="comment_destroy_btn">
            <%= link_to([comment.discussion, comment],
                        method: :delete,
                        data: { confirm: "Are you sure?" }) do %>
            <%= inline_svg_tag "trash.svg", class: "comments_destroy_svg" %>
            <% end %>
        </p>
        <%end%>
    </div>
</div>