<h1>Users</h1>
<table cellspacing="0" cellpadding="0" border="1">
    <tr>
        <th>FirstName</th>
        <th>LastName</th>
        <th>Email</th>
        <th>Role</th>
        <th>Action</th>
    </tr>
    <% @users.each do |user| %>
        <tr>
            <td><%= link_to user.first_name, user %></td>
            <td><%= user.last_name %></td>
            <td><%= user.email %></td>
            <td>
                <% if user.admin? %>
                    Admin
                <% else %>
                    User
                <% end %>
            </td>
            <td>
                <% if user.admin? %>
                 <%= button_to("Remove admin", {action: "removeAdmin", id: user.id},
                            {data: { confirm: 'Are you sure?', disable_with: 'loading...' }}) %>
                <% else %>
                <%= button_to("Make admin", {action: "makeAdmin", id: user.id},
                            {data: { confirm: 'Are you sure?', disable_with: 'loading...' }}) %>
                <% end %>
            </td>
        </tr>
    <% end %>
</table>