<nav class="navigation">
    <div class="navigation__container">
    
        <% if user_signed_in? %>
            <%= link_to "Base Camp", user_path(current_user), :class => "navigation__base" %>
        <% else %>
            <%= link_to "Base Camp", unauthenticated_root_path, :class => "navigation__base" %>
        <% end %>
        
        <ul class="navigation__list">
            <li class="navigation__item"><%= link_to "How it works", how_it_works_path %></li>
            <li class="navigation__item"><%= link_to "Before & after", before_after_path %></li>
            <li class="navigation__item"><%= link_to "Got clients?", got_clients_path %></li>
            <li class="navigation__item"><%= link_to "Pricing", pricing_path %></li>
            <li class="navigation__item"><%= link_to "Support", support_path %></li>

            <% if user_signed_in? %>
                <li class="navigation__item">
                    <% if current_user.admin? %>
                        [Admin]
                    <% end %>
                <%= link_to current_user.first_name, edit_user_registration_path(current_user) %></li>
                <li class="navigation__item"><%= link_to "Sign out", destroy_user_session_path, method: :delete %></li>
            <% else %>
                <li class="navigation__item"><%= link_to "Sign Up", new_user_registration_path %></li>
                <li class="navigation__item"><%= link_to "Sign in", new_user_session_path %></li>
            <% end %>
        </ul>
        
    </div>
</nav>