<div class="header__content__container">
    <div class="header__content__primary">
        <h1>Your Projects</h1>
    </div>

    <div class="flickr_pagination">
        <div class="page_info">
            <%= page_entries_info @projects %>
        </div>
        <%= will_paginate @projects, :container => false %>
    </div>

    <% if user_signed_in? %>
        <ul class="project__list">
            <% @projects.each do |project| %>
                <li class="project__item">
                    <%= link_to(project_path(project)) do %> 
                        <%= content_tag :h3, project.title, :class => "project__link" %>
                        <%= content_tag :p, project.description, :class => "project__description" %>
                    <% end %>
                </li>
            <% end %>
        </ul>
    <% end %>
</div>