<div class="header__content__container">
    <div class="header__content__primary">
        <h1><%= @project.title %></h1>
    </div>
    
    <div class="project__btn__invite__container">
        <a href="#" class="btn__normal">Invite people(coming soon)</a>
    </div>
    
    <div class="project__btns__container">
        <%= link_to "Back", user_path(@user.id), class: "btn__square btn__color__yellow__orange project__btn" %>

        <%= link_to "Edit project", edit_project_path(@project), class: "btn__square btn__color__yellow__orange project__btn" %>
    
    
        <%= link_to "Delete project", project_path(@project), method: :delete, data: { confirm: "Are you sure?" }, class: "btn__square btn__color__yellow__orange project__btn" %>
    </div>

    <p><%= @project.description%></p>
    <div>
        <p>Attachments:</p>
        <% if @project.images.attached? %>
            <ul>
                <% @project.images.each do |image| %>
                    <li><%= image_tag image, height: '500', width: '500', class: "project_image"%></td>
                <%end%>
            </ul>
        <% end %>
    </div>
</div>