<header class="header">
    <%= render "shared/navigation" %>
    <%= render "shared/errors" %>

    <div class="project__content__container">
        <div class="project__left__container">
        </div>

        <div class="project__main__content">
            <div class="header__content__primary header__mixed__color">
                <h1><%= @project.title %></h1>
            </div>

            <div class="project__invite__btn btn__medium btn__color__yellow__orange btn__animation__expand">
                <%= inline_svg_tag "add.svg", class: "project__invite__svg" %>
                <%= link_to "invite user", new_project_invitation_path(@project), class: "project__invite__link" %>
            </div>

            <div class="project__btns__container">
                <div class="project__btns__left__container">
                    <%= link_to "Back", user_path(current_user), class: "btn__square btn__color__yellow__orange project__btn" %>


                    <%= link_to "Edit project", edit_project_path(@project), class: "btn__square btn__color__yellow__orange project__btn" %>
                </div>


                <div class="project__btns__right__container">
                    <%= link_to "Delete project", project_path(@project), method: :delete, data: { confirm: "Are you sure?" }, class: "btn__square project__btn btn__color__red" %>
                </div>
            </div>

            <div class="project__features__container">
                <div class="project__feature">
                    <%= inline_svg_tag "speech-bubble.svg", class: "project__feature__svg" %>
                    <%= link_to "Public Chat Room (in progress)", chatrooms_path, class: "project__feature__link" %>
                </div>
                <div class="project__feature">
                    <%= inline_svg_tag "discussion.svg", class: "project__feature__svg" %>
                    <%= link_to "Discussions", project_discussions_path(project_id: @project.id), class: "project__feature__link" %>
                </div>
                <div class="project__feature">
                    <%= inline_svg_tag "document.svg", class: "project__feature__svg" %>
                    <%= link_to "Attachments", project_attachments_path(@project), class: "project__feature__link" %>
                </div>

                <div class="project__feature">
                    <%= inline_svg_tag "to-do-list.svg", class: "project__feature__svg" %>
                    <%= link_to "Tasks", project_tasks_path(@project), class: "project__feature__link" %>
                </div>
            </div>
        </div>

        <div class="project__users">
            <div class="project__users__container">
                <div class="project__users__title">
                    <h2 class="header__mixed__color">Users</h2>
                </div>

                <% if @this_user.is_admin == true %>
                <% @groups.each do |group| %>
                <div class="project__user">
                    <% if group.is_admin == true %>
                    <%= inline_svg_tag "thinking.svg", class: "project__user__svg" %>
                    <h3 class="project__user__name"><%= group.user.first_name %> [admin]</h3>
                    <% else %>
                    <%= inline_svg_tag "smiling-face.svg", class: "project__user__svg" %>
                    <h3 class="project__user__name"><%= group.user.first_name %></h3>

                    <%= link_to(project_invitation_path(project_id: @project.id, group_id: group.id, user_id: group.user.id), method: :delete, data: { comfirm: "are you sure to remove this user from the project?" }) do %>
                    <%= inline_svg_tag "block.svg", class: "project__user__svg" %>
                    <% end %>


                    <% end %>
                </div>
                <% end %>
                <% else %>
                <% @groups.each do |group| %>
                <div class="project__user">
                    <% if group.is_admin == true %>
                    <%= inline_svg_tag "thinking.svg", class: "project__user__svg" %>
                    <h3 class="project__user__name"><%= group.user.first_name %> [admin]</h3>
                    <% else %>
                    <%= inline_svg_tag "smiling-face.svg", class: "project__user__svg" %>
                    <h3 class="project__user__name"><%= group.user.first_name %></h3>
                    <% end %>
                </div>
                <% end %>
                <% end %>

            </div>
        </div>

    </div>
</header>