<div class="header__content__container">
    <div class="header__content__primary">
        <h1><%= @project.title %></h1>
    </div>
    
    <div class="project__searchbox__container">
        <div class="project__btn__invite__container">
            <%= form_with(local: true, url: { action: "add_user" }, method: "post") do |f| %>
                <%= f.email_field :email, class: "project__invite__searchbox", placeholder: "Enter the user email" %>
                <%= f.submit "Add user", class: "btn__medium btn__color__yellow__orange btn__animation__expand" %>
            <% end %>
        </div>
    </div>
    
    <div class="project__btns__container">
        <%= link_to "Back", user_path(@user), class: "btn__square btn__color__yellow__orange project__btn" %>

        <%= link_to "Edit project", edit_project_path(@project), class: "btn__square btn__color__yellow__orange project__btn" %>
    
    
        <%= link_to "Delete project", project_path(@project), method: :delete, data: { confirm: "Are you sure?" }, class: "btn__square btn__color__yellow__orange project__btn" %>
    </div>

    <p><%= @project.description%></p>
    <div>
        <p>Attachments:</p>
        <div class="attachments">
            <% if @project.uploads.attached? %>
                    <% @project.uploads.each do |upload| %>
                        <div class="attachment">
                            <% if upload.variable? %>
                                <%= link_to image_tag(upload.variant(resize: "400x400"), class: "project_upload"), upload %> 
                            <% elsif upload.previewable? %>
                                <%= link_to image_tag(upload.preview(resize: "400x400"), class: "project_upload"), rails_blob_path(upload, disposition: :attachment) %>
                                
                            <% elsif upload.image? %>
                                <%= link_to image_tag(upload, width: 400, class: "project_upload"), upload %>
                                
                            <% else %>
                                <%= link_to upload.filename, rails_blob_path(upload, disposition: :attachment) %>
                                
                            <% end %>
                            <div class="attachment__button_wrapper">
                                <%= button_to "Delete", {action: "destroy_upload", params: {upload_id: upload.id}}, {class: "btn__small"} %>
                            </div>
                        </div>
                    <%end%>
            <% end %>
        </div>

        <%= form_with(model: @project, local: true, url: { action: "add_upload" }, method: "post") do |f| %>

                <div class="attachment__add-field"> 
                    <%= f.file_field :uploads, multiple: true %>
                    <%= f.submit "Add", class: "btn__small btn__color__yellow__orange project__form__submit" %>
                </div>
                
        <% end %>

        <div class="project__features__container">
            <div class="project__feature">
                <%= link_to "Attachments", attachments_project_path(@project), class: "project__feature__link" %>
            </div>
        </div>

        <div class="project__features__container">
            <div class="project__feature">
                <%= link_to "Public Chat Room", chatrooms_path, class: "project__feature__link" %>
            </div>
        </div>
        
        <div class="project__features__container">
            <div class="project__features__discussion">
                <%= link_to "Discussions", project_discussions_path(project_id: @project.id), class: "btn__circle btn__color__yellow__orange" %>
            </div>
        </div>



    </div>
</div>