<div class="header__content__container">
    <div class="header__content__primary">
        <h1><%= @project.title %></h1>
    </div>
    
    <div class="project__btn__invite__container">
        <a href="#" class="btn__normal">Invite people(coming soon)</a>
    </div>
    
    <div class="project__btns__container">
        <%= link_to "Back", user_path(@user.id), class: "btn__square btn__color__yellow__orange project__btn" %>

        <%= link_to "Edit project", edit_project_path(@project), class: "btn__square btn__color__yellow__orange project__btn" %>
    
    
        <%= link_to "Delete project", project_path(@project), method: :delete, data: { confirm: "Are you sure?" }, class: "btn__square btn__color__yellow__orange project__btn" %>
    </div>

    <p><%= @project.description%></p>
    <div>
        <p>Attachments:</p>
        <% if @project.uploads.attached? %>
            <div>
                <% @project.uploads.each do |upload| %>
                    <% if upload.variable? %>
                        <%#if it is image%>
                        <%= link_to image_tag(upload.variant(resize: "400x400"), class: "project_upload"), upload %>
                    <% elsif upload.previewable? %>
                        <%#if it is pdf%>
                        <%= link_to image_tag(upload.preview(resize: "400x400"), class: "project_upload"), rails_blob_path(upload, disposition: :attachment) %>
                    <% elsif upload.image? %>
                        <%#if it is pdf%>
                        <%= link_to image_tag(upload, width: 400, class: "project_upload"), upload %>
                    <% else %>
                        <%= link_to upload.filename, rails_blob_path(upload, disposition: :attachment) %>
                    <% end %>
                <%end%>
            </div>
            <%# @project.uploads.attach(params[:uploads]) %>
        <% end %>
    </div>
</div>