<nav class="navigation">
    <div class="navigation__container">

        <%= link_to "Base Camp", root_path, :class => "navigation__base" %>

        <ul class="navigation__list">
            <li class="navigation__item"><%= link_to "How it works", how_it_works_path %></li>
            <li class="navigation__item"><%= link_to "Before & after", before_after_path %></li>
            <li class="navigation__item"><%= link_to "Got clients?", got_clients_path %></li>
            <li class="navigation__item"><%= link_to "Pricing", pricing_path %></li>
            <li class="navigation__item"><%= link_to "Support", support_path %></li>

            <% if user_signed_in? %>
                <li class="navigation__item"><%= link_to "Sign out", destroy_user_session_path, method: :delete %></li>
                
                <li class="navigation__item"><%= link_to "current_user_show", current_user %></li>
            <% else %>
                <li class="navigation__item"><%= link_to "Sign Up", new_user_registration_path %></li>
                <li class="navigation__item"><%= link_to "Sign in", new_user_session_path %></li>
            <% end %>
        </ul>
        
    </div>
</nav>